* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  min-width: 40rem;
  width: 100%;
  height: 10vh;
  padding: 0.6rem;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__link {
  font-size: 1.3rem;
  padding: 0 1rem 0 1rem;
  color: #212121;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__icon {
  position: relative;
}

.nav__icon:hover::after{
  content: '';
  position: absolute;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background-color: rgba(0,0,0,0.20);
  border-radius: 50%;
  top: -0.26rem;
  right: -0.26rem;
}

.btn {
  min-width: 11rem;
  height: 3rem;
  padding: 0.5rem;
  margin: 0 1rem 0 1rem;
  border-radius: 0.3rem;
  background-color: #1a73e8;
  color: #fff;
  border-style: none;
  cursor: pointer;
}

.btn--singin:hover {
  background-color: #5094ed;
  box-shadow: 0px 0.5px 1px rgba(80,148,237,0.9);
}

.btn--search {
  width: 15rem;
  height: 3.5rem;
  font-size: 1.4rem;
  color: #323232;
  background-color: #f8f9fa;
}

.btn--search:hover {
  background-color: #f8f9fa;
  box-shadow: 0px 0px 1px 1px rgb(219,221,225);
}

.main {
  min-width: 40rem;
  width: 100%;
  height: 73vh;
  text-align: center;
}

.logo__thumbnail {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo__img {
  max-width: 100%;
  height: auto;
}

.search {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__form {
  position: relative;
  width: 57.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  border: solid 0.15rem #dfe1e5;
  border-radius: 14rem;
}

.search__form:hover {
  box-shadow: 0px 0.5px 3px rgba(0,0,0, 0.3);
}

.lupa {
  position: absolute;
  left: 1rem;
  color:#b3b8bc;
}

.search__input {
  width: 86%;
  height: 4rem;
  font-size: 1.6rem;
  padding: 2rem;
  border: none;
}

.search__input:focus-visible {
  outline: none;
}

.microfono {
  position: absolute;
  right: 1rem;
  color:#b3b8bc;
  cursor: pointer;
}

.footer {
  min-width: 40rem;
  width: 100%;
  height: 14vh;
  background-color: #f2f2f2;
}

.footer__country {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  border-bottom: solid 0.1rem #e0e1e4;
}

.footer__country--peru {
  font-size: 1.5rem;
  color: #6f6f6f;
}

.footer__bottom {
  height: 50%;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  padding: 1.5rem ;
  color: #6f6f6f;
  text-decoration: none;
  display: inline-block;
}

.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .footer__bottom {
    justify-content: space-evenly;
  }
}

@media (max-width:856px) {
  .main {
    height: 65.5vh;
  }

  .search__form {
    max-width: 95%;
  }

  .footer {
    height: 20.5vh;
  }

  .footer__country {
    height: 36%;
  }

  .footer__bottom {
    height: 64%;
  }
}

@media (max-width:555px) {
  .main {
    height: 58vh;
  }

  .footer {
    height: 29vh;
  }

  .footer__country {
    height: 21%;
  }

  .footer__bottom {
    height: 79%;
  }

  .footer__aboutus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer__information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer__link {
    padding: 1.7rem ;
  }
}